services:
  db:
    image: postgres:15-alpine
    container_name: mcbuildlibrary-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      # This exposes the database port to your host machine, which is useful for debugging.
      # Format is HOST_PORT:CONTAINER_PORT
      - "5433:5432"
    networks:
      - mcbuildapp-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
      args:
        JAR_FILE_NAME: ${BACKEND_JAR_FILE_NAME}
        JAR_FILE_PATH: ${BACKEND_JAR_FILE_PATH}
    ports:
      - "${BACKEND_PORT_HOST:-8080}:${BACKEND_PORT_CONTAINER:-8080}"
    env_file:
      - .env
    environment:
      - DB_URL=jdbc:postgresql://db:${DB_PORT}/${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - APP_DEFAULT_ADMIN_USERNAME=${APP_DEFAULT_ADMIN_USERNAME}
      - APP_DEFAULT_ADMIN_PASSWORD=${APP_DEFAULT_ADMIN_PASSWORD}
    depends_on:
      - db # Tells the backend to wait for the db to start
    networks:
      - mcbuildapp-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    ports:
      - "${FRONTEND_PORT_HOST}:${FRONTEND_PORT_CONTAINER}"
    depends_on:
      - backend
    networks:
      - mcbuildapp-network

networks:
  mcbuildapp-network:
    driver: bridge

volumes:
  postgres_data:
  # This creates a named volume to persist your database data
  # even when you stop and remove the containers.